<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Test title</title>
</head>
<body>
<h1>상품 리스트 출력 테스트</h1>
<table border="1">
  <thead>
  <tr>
    <th>상품명</th>
    <th>상품설명</th>
    <th>상품가격</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="itemDto, status : ${itemDtoList}">
    <td th:text="${status.index}"></td>
    <td th:text="${itemDto.itemNm}"></td>
    <td th:text="${itemDto.itemDetail}"></td>
    <td th:text="${itemDto.price}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>